.work-navbar {
	position: fixed;
	top: 65px;
	width: 100%;
	z-index: 1000;
	height: 58px;
	opacity: 0;

	transition: all 200ms linear;
}

.work-navbar.active {
	opacity: 1;
}

.work-nav-list {
	list-style-type: none;
	padding: 0.4rem;
	margin-right: 10vw;
	display: flex;
	justify-content: space-between;
}
.nav-link {
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	padding: 1rem;
}

.work-nav-list a.disabled {
	pointer-events: none !important;
	cursor: not-allowed !important;
	opacity: 0.5;
}

@media screen and (max-width: 830px) {
	.work-navbar {
		top: 49px;
	}

	.work-nav-list {
		margin-right: 0;
	}
	.work-nav-list h3 {
		font-size: 1rem;
		margin-top: 1.3rem;
	}
}

@media screen and (max-width: 530px) {
	.work-nav-list h3 {
		display: none;
	}
	.work-nav-list {
		justify-content: center;
	}
}
