.work-navbar {
	position: fixed;
	top: 65px;
	width: 100%;
	z-index: 1000;
	height: 60px;
	opacity: 0;

	transition: all 200ms linear;
}

.work-navbar.active {
	opacity: 1;
}

.work-nav-list {
	list-style-type: none;
	padding: 0.4rem;
	margin-right: 6vw;
	display: flex;
	justify-content: space-between;
}
.nav-link {
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	padding: 1rem;
}
