.work-hero {
	width: 100%;
	height: 95vh;
	animation: work-hero-up 800ms cubic-bezier(0.23, 0.45, 0.07, 0.99);
	display: flex;
}
.work-hero img {
	max-height: 95%;
	max-width: 50%;
	margin: auto;
	animation: work-picture-float 4000ms ease infinite;
}

.work-front {
	display: flex;
	overflow: hidden;
}

.work-title {
	margin: auto;
	color: white;
	text-align: center;
}

.work-description {
	color: white;
}

.work-title-buttons {
	margin: 50px auto;
}

.work-transition-item {
	transition: all 500ms cubic-bezier(0.23, 0.45, 0.07, 0.99);
}

.work-item {
	margin: 120px auto;
	width: fit-content;
}
.work-item-info {
	max-width: 1050px;
	display: flex;
}
.work-item-info h1 {
	min-width: 450px;
}
.work-item-info p {
	margin-left: 50px;
	min-width: 600px;
	color: #484848;
	line-height: 200%;
}

.work-item-image {
	border-radius: 10px;
}
.work-title-buttons button {
	margin: 10px;
}

@keyframes work-picture-float {
	100% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes work-hero-up {
	0% {
		height: 110vh;
	}
	100% {
		height: 95vh;
	}
}

@media screen and (max-width: 1324px) {
	.work-item-info {
		max-width: 850px;
		flex-wrap: wrap;
	}
	.work-item-info h1 {
		min-width: 0px;
		margin: 20px;
	}
	.work-item-info p {
		margin: 20px;
		min-width: 0px;
	}
	.work-front {
		display: flex;
		flex-direction: column-reverse;
	}
}
@media screen and (max-width: 1030px) {
	.work-hero img {
		max-width: 80%;
	}
}

@media screen and (max-width: 630px) {
	.work-hero img {
		max-width: 100%;
	}
}

@media screen and (max-width: 480px) {
	.work-title p {
		display: none;
	}
}
