.project-container {
	padding-top: 5rem;
	background-color: white;
	overflow-x: hidden;
}

.project-item {
	margin: 120px auto;
	cursor: pointer;
	width: fit-content;
	transition-duration: 500ms;
}
.project-image {
	width: 60rem;
	height: 40rem;
	background-color: black;
	border-radius: 1rem;
	margin-bottom: 2rem;
}

.project-item:hover {
	transform: scale(1.03);
}

.project-title {
	text-decoration: none !important;
}

@media screen and (max-width: 1024px) {
	.project-image {
		width: 40rem;
		height: 20rem;
	}
}
@media screen and (max-width: 630px) {
	.project-image {
		width: 25rem;
		height: 12.5rem;
	}
}

@media screen and (max-width: 480px) {
	.project-image {
		width: 15rem;
		height: 7.5rem;
	}
}
