.container {
	padding-top: 20vh;
	padding-left: 5vw;
	align-content: center;
	padding-bottom: 20vh;
	background-color: black;
}

.title-letter {
	min-width: 24px;
	display: inline-block;
	color: white;
	transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
	animation: 1000ms cubic-bezier(0.19, 1, 0.22, 1) letterJump;
	cursor: pointer;
}
.title-letter:hover {
	transform: translateY(-35px);
	color: blueviolet;
}

.title-letter:hover + .title-letter {
	transform: translateY(-20px);
	color: rgb(179, 128, 226);
}
.title-letter:hover + .title-letter + .title-letter {
	transform: translateY(-10px);
	color: rgb(203, 190, 216);
}

@keyframes letterJump {
	0% {
		transform: translateY(0);
	}
	20% {
		color: rgb(204, 42, 177);
	}
	50% {
		color: blueviolet;
		transform: translateY(-25px);
	}
	100% {
		transform: translateY(0);
	}
}
