.home-container {
	padding-top: 20vh;
	padding-left: 5vw;
	padding-bottom: 25vh;
	background-color: black;
	overflow-x: hidden;
}

.title-letter {
	display: inline-block;
	color: white;
	transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
	animation: 1000ms cubic-bezier(0.19, 1, 0.22, 1) letterJump;
	cursor: pointer;
}

.title-letter:hover {
	transform: translateY(-35px);
	animation: 1000ms cubic-bezier(0.19, 1, 0.22, 1) letterJump;
}

.title-letter-space {
	min-width: 24px;
}

.title-letter:hover + .title-letter {
	transform: translateY(-20px);
}
.title-letter:hover + .title-letter + .title-letter {
	transform: translateY(-10px);
}
@keyframes letterJump {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-25px);
	}
	100% {
		transform: translateY(0);
	}
}

@media screen and (max-width: 1024px) {
	.title-letter-space {
		min-width: 14px;
	}
}
@media screen and (max-width: 630px) {
	.title-letter-space {
		min-width: 14px;
	}
}

@media screen and (max-width: 480px) {
	.title-letter-space {
		min-width: 10px;
	}
}
