.contact-section {
	margin: 10rem;
	display: flex;
	justify-self: center;
}

.info-container {
	background-color: black;
	color: white;
	float: right;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	padding: 3rem;
}
.message-container {
	padding: 3rem;
	justify-content: center;
	border-width: 0.13rem !important;
	border-color: black;
	border: solid;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
	border-right: none;
}

.contact-input {
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	display: block;
}

.contact-divider {
	margin-right: -5px;
	border-width: 0.13rem !important;
	border: solid;
	border-color: black;
	border-left: none;
	width: 35px;
	background-image: url("../../assets/section_separator2.svg");
}
