.contact-section {
	margin-top: 10rem;
	display: flex;
	justify-content: center;
}

.info-container {
	background-color: black;
	color: white;
	float: right;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	padding: 3rem;
}
.message-container {
	padding: 3rem;
	justify-content: center;
	border-width: 0.15rem !important;
	border-color: black;
	border: solid;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
	border-right: none;
}

.contact-input {
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	display: block;
}

.contact-divider-parent {
	margin-right: -4px;
	border: solid;
	border-color: black;
	border-left: none;
	overflow: hidden;
	border-top-width: 0.15rem;
	border-bottom-width: 0.15rem;
}

.contact-divider {
	width: 47.4px;
	height: 350%;
	animation: side-waves linear 10s infinite;
	background-image: url("../../assets/wave-side.svg");
	background-repeat: repeat-y;
}

.contact-link-container {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}

.contact-link {
	width: 60px;
	height: 60px;
	background-size: cover;
}
.github {
	background-image: url("../../assets/github.svg");
}
.behance {
	background-image: url("../../assets/behance.svg");
}
.linkedin {
	background-image: url("../../assets/linkedin.svg");
}

@keyframes side-waves {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-60%);
	}
}

@media screen and (max-width: 1324px) {
}
@media screen and (max-width: 930px) {
	.contact-divider-parent {
		display: none;
	}
	.contact-section {
		flex-direction: column;
		margin: 30px;
		margin-top: 100px;
	}
	.message-container {
		border-bottom-left-radius: 0;
		border-top-right-radius: 1rem;
		border-right: solid;
	}
	.info-container {
		float: none;
		border-top-right-radius: 0;
		border-bottom-left-radius: 1rem;
		text-align: center;
	}

	.message-container input {
		width: 100%;
	}
	.message-container textarea {
		width: 95% !important;
	}
}

@media screen and (max-width: 480px) {
	.contact-divider-parent {
		display: none;
	}
	.contact-section {
		flex-direction: column;
		margin: 10px;
		margin-top: 100px;
	}
	.message-container {
		border-bottom-left-radius: 0;
		border-top-right-radius: 1rem;
		border-right: solid;
		padding-left: 1.2rem;
		padding-right: 1.2rem;
	}
	.info-container {
		float: none;
		border-top-right-radius: 0;
		border-bottom-left-radius: 1rem;
		text-align: center;
	}

	.message-container input {
		width: 100%;
	}
	.message-container textarea {
		width: 93% !important;
	}
}
@media screen and (max-width: 370px) {
	.message-container textarea {
		width: 93% !important;
	}
}
