.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	transition: all 400ms linear;
	z-index: 10000;
}

.navbar.dark {
	background-color: rgba(0, 0, 0, 1);
}
.navbar.light .nav-link {
	color: rgba(0, 0, 0, 1);
}
.nav-list {
	list-style-type: none;
	margin-right: 6vw;
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
}
.nav-link {
	text-decoration: none;
	transition: all 200ms linear;
	color: #fff;
	font-weight: 700;
	padding: 1rem;
}

li {
	display: inline;
}
