.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	transition: all 400ms linear;
	z-index: 10000;
}

.navbar.dark {
	background-color: rgba(0, 0, 0, 1);
}
.navbar.light .nav-link {
	color: rgba(0, 0, 0, 1);
}
.nav-list {
	list-style-type: none;
	margin-right: 6vw;
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
}
.nav-link {
	text-decoration: none;
	transition: all 200ms linear;
	color: #fff;
	font-size: 14px;
	padding: 1rem;
}
.nav-bread {
	display: none;
	height: 30px;
	width: 30px;
	float: right;
	margin: 6px;
	margin-top: 13px;
	z-index: 1000;
}
li {
	display: inline;
}
@media screen and (max-width: 830px) {
	.nav-list {
		display: none;
	}
	.nav-bread {
		cursor: pointer;
		display: grid;
	}
	.nav-bread span {
		width: 24px;
		background: white;
		height: 2px;
	}
	.nav-list.active {
		display: flex;
		flex-direction: column;
		position: fixed;
		width: 100vw;
		height: 100vh;
		background-color: black;
		margin: 0;
		z-index: -1;
	}
	li {
		display: contents;
	}
	li .nav-link {
		margin-top: 20px;
		font-size: 200%;
	}
	li .btn {
	}
}
